/* Container Utama */
.container {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
  display: flex; /* Membagi kiri dan kanan */
  width: 850px;
  max-width: 100%;
  min-height: 550px;
  overflow: hidden; /* Agar sudut tumpul tetap terjaga */
}

/* Panel Hijau */
.overlay-container {
  flex: 1; /* Mengambil setengah ruang */
  background: #40916C; 
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
}

/* Panel Putih */
.form-container {
  flex: 1;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}